body {
    background-color: rgb(113, 157, 194);
}

h1 {
    background-color: rgb(65, 94, 187);
    color: #ffffff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#padding {
    padding-left: 100px;
}

.font {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}









/*body {
    background-color: rgb(207, 92, 39);
}

h1 {
    background-color: rgb(146, 8, 8);(saved for S&M.html)*/